.container{
    margin: 40px;
    padding: 30px 40px;
    display: flex;
    background-color:whitesmoke;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    gap: 30px;
    .left{
        width: 60%;
        h1{
            font-size: 40px;
            margin: 0;
        }
        p{
            font-size: 20px;
        }
    }
    .right{
        width: 50%;
        img{
            width:100%;
        }
    }
}