.footer{
    height: 60px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f0f0f;
    h1{
        font-size: 24px;
        font-weight: 500;
        color: whitesmoke;
        letter-spacing: 2px;
    }
}